* {
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: #3599DB;
	padding: 5% 0;
	height: 100%;
	font-family: 'Nunito', sans-serif;
}

.container {
	background-color: white;
	margin: auto;
	width: 31vw;
	box-shadow: 0 3px 7px rgba(19,50,82,.3);
}

.login-text {
	margin-top: 15px;
	text-align: center;
	color: white;
}

.login-text a {
	color: white;
}

.row.flex {
	display: flex;
    justify-content: flex-start;
}

.col {
	width: 100%;
}

@media only screen and (min-width: 1024px) {
	.col {
		width: 48%;
	}

	.col-2 {
		margin-left: 20px;
	}
}

.form {
	padding: 5% 10% 10%;
}

.container > div {
	padding: 10% 10% 5%;
}

h2 {
	margin-bottom: 20px;
}

input {
	margin-top: 20px;
	width: 100%;
	padding-left: 15px;
	border: none;
	background-color: #f2f2f2;
	border-radius: 5px
}

input:not([type="checkbox"]) {
	height: 50px;
}

input[type="checkbox"] {
	width: 7%;
	margin-right: 15px;
}

input[type="submit"] {
	margin-top: 20px;
	width: 40%;
	background-color: #3599DB;
	padding: 5% 10%;
	text-align: center;
	height: auto;
	font-size: 110%;
	font-weight: bold;
	color: white;
}

.row > label {
	margin-top: 20px;
}

.row > label a {
	color: #3599DB;
	text-decoration: none;
}

.error {
	margin-top: 5px;
	color: red;
	font-size: 12px;
}

.btn-hover:hover {
	cursor: pointer;
}

/*tablet and mobile styles*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.container {
		width: 60vw;
	}
}

@media only screen and (max-width: 1023px) {
	.container {
		width: 85vw;
	}

	.row.flex {
		display: block;
	}
}